<div class="section" id="persona">
    <div class="container">
        <div class="container" *ngIf="persona">
            <div class="row mt-3">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class=""><b>Actualizar Datos de Persona</b></a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                                <div class="form-group">
                                    <label for="nombre"><b>Nombre</b></label>
                                    <input type="text" class="form-control" id="nombre" name="nombre"
                                        [(ngModel)]="persona.nombre">
                                </div>
                                <div class="form-group">
                                    <label for="apellido"><b>Apellido</b></label>
                                    <input type="text" class="form-control" id="apellido" name="apellido"
                                        [(ngModel)]="persona.apellido">
                                </div>
                                <div class="form-group">
                                    <label for="profesion"><b>Profesión</b></label>
                                    <input type="text" class="form-control" id="profesion" name="profesion"
                                        [(ngModel)]="persona.profesion">
                                </div>
                                <div class="form-group">
                                    <label for="resenia"><b>Resenia</b></label>
                                    <input type="text" class="form-control" id="resenia" name="resenia"
                                        [(ngModel)]="persona.resenia">
                                </div>
                                <div class="form-group">
                                    <label for="imagen"><b>Imagen</b></label>
                                    <input type="text" class="form-control" id="imagen" name="imagen"
                                        [(ngModel)]="persona.imagen">
                                </div>
                                <button class="btn btn-block" [disabled]="!f.valid">Actualizar</button>
                                <button class="btn btn-block" (click)="volver()"><i class=""></i> Volver</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>