<div class="section" id="acercade">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Acerca de Mi</div>
            <p>{{acercade.acercade}}</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title"> Más Información</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Fecha Nac:</strong>
              </div>
              <div class="col-sm-8">{{acercade.fechanac}} </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">{{acercade.email}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Teléfono:</strong>
              </div>
              <div class="col-sm-8">{{acercade.telefono}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Dirección:</strong>
              </div>
              <div class="col-sm-8">{{acercade.direccion}}</div>
            </div>
          </div>
        </div>

        <div class="section" id="redes">
          <div class="container">
            <div class="button-container">
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com" target="_blank"
                rel="tooltip" title="Follow me on Facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com" target="_blank"
                rel="tooltip" title="Follow me on Instagram">
                <i class="fa fa-instagram"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com" target="_blank"
                rel="tooltip" title="Follow me on Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com" target="_blank"
                rel="tooltip" title="Follow me on Github">
                <i class="fa fa-github"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com" target="_blank"
                rel="tooltip" title="Follow me on Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>